{% extends "layout.html" %}
{% block content %}

    {% for tweet in tweets %}
        {% if tweet['tweet'] | length > 0 %}
            <article class="media content-section">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='images/' + tweet['user'][0].profile_pic_url) }}"
                     alt="profile pic">

                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2"
                           href="{{ url_for('user_info.profile', username=tweet['user'][0].username) }}">{{ tweet['user'][0].username }}</a>

                        <small class="text-muted">{{ tweet['tweet'][0].created_at }}</small>
                    </div>
                    <h2 class="article-title">{{ tweet['tweet'][0].title|safe }}</h2>
                    <p class="article-content">{{ tweet['tweet'][0].content|safe }}</p>
                </div>
                <div>
                    {% if not tweet['tweet'][0].liked %}
                        <a href="" onclick="likeTweet('{{ tweet['tweet'][0].uuid }}')">Like</a>
                    {% else %}
                        Already liked
                    {% endif %}
                    {% if not tweet['tweet'][0].retweeted %}
                        <a href="" onclick="retweet('{{ tweet['tweet'][0].uuid }}')">Retweet</a>
                    {% else %}
                        Already retweeted
                    {% endif %}
                </div>
            </article>
        {% endif %}

    {% endfor %}
{% endblock content %}
