{% extends "layout.html" %}
{% block content %}
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Search for users to follow</legend>
          <div class="form-group">
              {% if form.search.errors %}
                  {{ form.search(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.search.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.search(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>

{% endblock content %}
