html {
  box-sizing: border-box;
}


h1 {
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.25%;
  padding: 1.25em;
}

.card-column {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  max-width: 31.25em;
  margin: auto;
  text-align: center;
  padding: 1.25em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 37.5em) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  max-width: 18.75em;
  margin: auto;
  text-align: center;
}

.container {
  padding: auto;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

a {
  text-decoration: none;
  /*font-size: 1.375em;*/
  color: black;
}
