html, html:before, html:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
*, *:before, *:after {
  box-sizing: inherit;
}

/* HEADER */
.home-link {
  display: none;
  font-size: 1.2em;
}

div.row-nav {
  background-color: white;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #05386B;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  font-size: 1.375em;
  height: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 0.875em 0.75em;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #379683;
}

.logo {
  max-height: 1.25em;
}

/* Mobile Styles */
@media screen and (max-width: 37.5em) {
  .home-link {
    display: inline;
  }

  ul.topnav li.left,
  ul.topnav li {
    float: none;
  }
}

/* HEADER */
/* FOOTER */
.column-footer {
  float: left;
  width: 33.33%;
  padding: 1.25em;
}

.footer .row-footer {
  height: auto;
  width: 100%;
  background-color: #05386B;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: inline-block;
  z-index: 2;
}

/* Clear floats after the columns */
.row-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
.footer p {
  font-size: 0.75em;
}

.footer .row-footer .column-footer .incolumn p {
  font-size: 0.75em;
}

.footer a {
  text-decoration: underline;
  font-size: 1.375em;
  color: white;
}

.footer-img {
  max-width: 3.125em;
  height: auto;
  width: auto;
}

@media screen and (max-width: 37.5em) {
  .footer {
    position: relative;
  }

  .column-footer {
    width: 100%;
  }
}

/* FOOTER */
/* FORMS */
.input-container {
  display: flex;
  width: 100%;
  max-width: 45%;
  margin: auto;
}

.icon {
  padding: 0.875em;
  background: #05386B;
  color: white;
  min-width: 1.5em;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 0.875em;
  outline: none;
}

.input-field:focus {
  border: 0.625em solid #05386B;
}

.page-title {
  text-align: center;
  padding-top: 1.25em;
}

.subtitle {
  text-align: center;
  padding-top: 1.25em;
}

.btn {
  background-color: #05386B;
  color: white;
  padding: 0.875em 1.25em;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 3.125em;
  opacity: 0.9;
  max-width: 100%;
  font-size: 0.75em;
  text-align: center;
  line-height: 1.25em;
}

.btn:hover {
  opacity: 1;
}

.vertical-center {
  line-height: 1.875em;
  height: 0.875em;
}

.vertical-center .input-container .login-anchor-tag p {
  font-size: 0.75em;
}

/********** Counter Styling ***********/
.counter-field:focus {
  border: 0.625em solid #05386B;
}

.counter-field {
  width: 100%;
  padding: 0.875em;
  outline: none;
}

/********** Radio Button Styling ***********/
.radio-container {
  display: block;
  position: relative;
  padding-left: 1.875em;
  margin-bottom: 0.75em;
  margin-left: 1.25em;
  cursor: pointer;
  font-size: 1.375em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #05386B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 0.5em;
  left: 0.5em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: white;
}

/********** Radio Button Styling ***********/

/* FORMS */
/* TABLES */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.0625em solid #ddd;
  padding: 0.5em;
}

tr:nth-child(even) {
  background-color: #EDF5E1;
}

tr:hover {
  background-color: #8EE4AF;
}

th {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
  background-color: #379683;
  color: white;
}

/* TABLES */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.25%;
  padding: 1.25em;
}

.card-column {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  max-width: 31.25em;
  margin: auto;
  text-align: center;
  padding: 1.25em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 37.5em) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  max-width: 18.75em;
  margin: auto;
  text-align: center;
}

.container {
  padding: auto;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: black;
}
