body {
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
.add {
  padding-top: 0.625em;
  font-size: 1.875em;
  color: #FFFFFF;
}
.add1 {
  padding-top: 0.625em;
  font-size: 1.25em;
  color: #05386B;
  float: left;
  padding-left: 0.3125em;
}
.Top-filler {
  width: 100%;
  height: 3.125em;
}

.Top-label {
  position: relative;
  font-family: cursive;
  color: #000000;
}
.Top-label-underline {
  color: #D3D3D3;
  border: 0.0625em solid #D3D3D3;
}
/***********************search input***************************/
.search-input {
  width: 100%;
  position: relative;
  float: left;
  display: block;
  border: 0.0625em solid #05386B;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  line-height: 2.5em;
}
.search-input input {
  float: left;
  display: block;
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.4375em 0.4375em 0.4375em 0.4375em;
  padding-left: 0.3125em;
  line-height: 2.5em;
}
.search-input img {
  float: left;
  display: block;
  padding-top: 0.8125em;
  padding-left: 0.3125em;
  border: none;
  line-height: 2.5em;
}
.search-input .search-results {
  position: absolute;
  float: left;
  width: 100%;
  display: table;
  border: 0.0625em solid #888888;
  background-color: #FFFFFF;
  line-height: 2.5em;
  z-index: 25;
}

.search-input:hover .search-results {
  display: table;
}
.search-input table {
  border-spacing: 0em;
  line-height: 0.9375em;
  font-family: sans-serif;
}
.search-input table img {
  float: left;
  display: block;
  padding-top: 0.3125em;
  padding-left: 0.125em;
  border: none;
}
.search-input table tr:hover{
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #BFEFFF;
}
.search-input table .second-search-input {
  width: 100%;
  border-bottom: 0.0625em solid #888888;
}
.search-input table .second-search-input input{
  width: 100%;
  border-radius: unset;
  border-bottom: 0.0625em solid #888888;
}
.search-input table .second-search-input:hover{
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
}
.search-input .search-results .city {
  float: left;
  font-size: 0.9375em;
  font-weight: bold;
  padding-left: 0.3125em;
  white-space: nowrap;
}
.search-input .search-results .place {
  float: left;
  font-size: 0.8125em;
  padding-left: 0.3125em;
  font-weight: normal;
  white-space: nowrap;
}
.search-input .search-results .adress {
  float: left;
  font-size: 0.8125em;
  padding-left: 0.3125em;
  font-weight: lighter;
  margin-top: -1.1875em;
  white-space: nowrap;
}

/************************duration**************************************/
.duration-options {
  width: 100%;
  position: relative;
  float: left;
  display: block;
  border: 0.0625em solid #05386B;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  line-height: 2.5em;

}
.duration-options input {
  float: left;
  display: block;
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.4375em 0.4375em 0.4375em 0.4375em;
  padding-left: 0.3125em;
  line-height: 2.1875em;
}
.duration-options .vert {
  float: left;
  display: block;
  border-left: 0.0625em solid #888888;
  height: 1.875em;
}


/*************************the price filter*****************************/
.filters .price-range-filter {
  width: 100%;
  float: left;
  display: block;
  position:relative;
}
.filters .price-range-filter input {
  float: left;
  display: block;
  background-color: #FFFFFF;
  width: 100%;
}
.filters .price-range-filter .price-slider {
  float: left;
  border: none;
  position: relative;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  border-spacing: 1.25em;
  width: 100%;
}
.filters .price-range-filter .price-slider .min-price {
  float: left;
  font-family: sans-serif;
  font-size: 1.6875em;
  line-height: 0.9375em;
}
.filters .price-range-filter table tr .thumb-space {
  height: 0.625em;
}
.filters .price-range-filter .price-slider .max-price {
  float: right;
  font-family: sans-serif;
  font-size: 1.6875em;
  line-height: 0.9375em;
}
.filters .price-range-filter table tr td {
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  font-family: sans-serif;
  font-size: 0.5em;
  text-align: center;
  line-height: 0.9375em;
  cursor: pointer;
}

.filters .price-range-filter table tr .options-clear:hover {
    background-color: #FF4500;
}
.filters .price-range-filter table tr .options-apply:hover {
    background-color: #6EFF70;
}
.filters .price-range-filter .price-slider .price-thumb {
  position: absolute;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  font-family: sans-serif;
  text-align: center;
  width: 6.125em;
  height: 2.875em;
  margin-top: -0.9375em;
  padding-top: 1.0em;
  font-size: 1.5em;
  line-height: 0.9375em;
  background-color: #0080FF;
}

/***************************the ratings filter*************************/

.filters .guests-rating-filter {
  width: 100%;
  float: left;
  display: block;
  position:relative;
}
.filters .guests-rating-filter input {
  float: left;
  display: block;
  background-color: #FFFFFF;
  width: 100%;
}
.filters .guests-rating-filter .ratings-slider {
  float: left;
  border: none;
  width: 100%;
  position: relative;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  border-spacing: 1.25em;
}
.filters .guests-rating-filter table tr td {
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  font-family: sans-serif;
  font-size: 0.5em;
  text-align: center;
  line-height: 0.9375em;
  cursor: pointer;
}
.filters .guests-rating-filter table tr .thumb-space {
  height: 2.1875em;
}

.filters .guests-rating-filter table tr .options-clear:hover {
    background-color: #FF4500;
}
.filters .guests-rating-filter table tr .options-apply:hover {
    background-color: #6EFF70;
}
.filters .guests-rating-filter .ratings-slider .ratings-thumb {
  position: absolute;
  border-radius: 1.25em 1.25em 1.25em 1.25em;
  font-family: sans-serif;
  text-align: center;
  width: 4.125em;
  height: 3.5em;
  margin-top: -1.5625em;
  padding-top: 0.625em;
  font-size: 1.5em;
  line-height: 0.9375em;
  background-color: #FFBF00;
}
.s-color {
  color: #FFBF00;
  float: left;
}
/*************************the number of guests filter*********************/

.number-of-guests-filter {
  width: 100%;
  float: left;
  display: block;
  position:relative;
  text-align: center;
}
.number-of-guests-filter table {
  float: center;
  border: none;
  position:  relative;
  border-radius: 0.125em 20.125em 20.125em 20.125em;
  width: 100%;
  background-color: #FFFFFF;
  border-spacing: 1.25em;
}

.number-of-guests-filter table tr td {
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: center;
  line-height: 0.9375em;
  cursor: pointer;
}
.number-of-guests-filter table tr td img {
  padding-top: 0.5em;
  float: left;
}
.number-of-guests-filter table tr td label {
  padding-left: 0.3125em;
  line-height: 2.1875em;
  padding-top: -0.3125em;
  font-size: 0.9375em;
  float:left;
}
.number-of-guests-filter table tr number-of-guests-options:hover {
  background-color: #BFEFFF;
}
.number-of-guests-filter table tr .options-clear {
  font-size: 0.6em;
}
.number-of-guests-filter table tr .options-apply {
  font-size: 0.6em;
}

.number-of-guests-filter table tr .options-clear:hover {
    background-color: #FF4500;
}
.number-of-guests-filter table tr .options-apply:hover {
    background-color: #6EFF70;
}

/*************************the Amenities filter*********************/

.amenities-filter {
  width: 100%;
  float:left;
  display: block;
  position:relative;
}
.amenities-filter table {
  float: left;
  border: none;
  position: relative;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  width: 100%;
  border-spacing: 1.25em;
}

.amenities-filter table tr td {
  /*border: 0.0625em solid #888888;*/
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  font-family: sans-serif;
  font-size: 0.6875em;
  text-align: center;
}
.amenities-filter table tr td:hover {
  background-color: #BFEFFF;
}
.amenities-filter table tr .options-clear:hover {
    background-color: #FF4500;
}
.amenities-filter table tr .options-apply:hover {
    background-color: #6EFF70;
}
.amenities-filter table tr .silent:hover {
    background-color: inherit;
}

/*************************the accommodation filter*********************/
.accommodation-filter {
  width: 100%;
  float:left;
  display: block;
  position:relative;
}
.accommodation-filter table {
  float: left;
  border: none;
  position:  relative;
  width: 100%;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  border-spacing: 1.25em;
}
.accommodation-filter table tr td {
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: center;
  line-height: 0.9375em;
  cursor: pointer;
}
.accommodation-filter table tr td img {
  padding-top: 0.5em;
  float: left;
}
.accommodation-filter table tr td label {
  padding-left: 0.3125em;
  line-height: 2.1875em;
  padding-top: -0.3125em;
  font-size: 0.9375em;
  float:left;
}
.accommodation-filter table tr td:hover {
  background-color: #BFEFFF;
}
.accommodation-filter table tr .options-clear {
  font-size: 0.6em;
}
.accommodation-filter table tr .options-apply {
  font-size: 0.6em;
}
.accommodation-filter table tr .options-clear:hover {
    background-color: #FF4500;
}
.accommodation-filter table tr .options-apply:hover {
    background-color: #6EFF70;
}

/*******************sort**************************************/
.sort-filter {
  width: 100%;
  float:left;
  display: block;
  position: relative;
  position:relative;
}
.sort-filter table {
  float: left;
  border: none;
  position:  relative;
  width: 100%;
  border-radius: 0.125em 0.125em 0.125em 0.125em;
  background-color: #FFFFFF;
  border-spacing: 0em;
}
.sort-filter table tr td {
  white-space: nowrap;
}
.sort-filter table tr td img {
  padding-top: 0.5em;
  float: left;
  display: inline-block;
}
.sort-filter table tr td {
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: center;
  line-height: 0.9375em;
  cursor: pointer;
  padding-left: 0.625em;
}

.sort-filter table tr td label {
  padding-left: 0.3125em;
  line-height: 2.1875em;
  padding-top: 0em;
  font-size: 0.9375em;
  white-space: nowrap;
  float:left;
  display: inline-block;
}
.sort-filter table tr td:hover {
  background-color: #BFEFFF;
}
.sort-filter table tr .options-clear {
  font-size: 0.6em;
}
.sort-filter table tr .options-apply {
  font-size: 0.6em;
}
.sort-filter table tr .options-clear:hover {
    background-color: #FF4500;
}
.sort-filter table tr .options-clear:hover {
    background-color: #6EFF70;
}

/*******************listings***************************/
.listing-card {
  width:100%;
  border-radius: 0.125em;
  border: none;
  box-shadow: 0.125em 0.125em 0.125em 0.125em #D3D3D3;
  display: block;
  margin-left: 0.3125em;
}
.listing-table {
  width: 100%;
  border-collapse: collapse;
}
.place-name {
  float: left;
  font-size: 1.875em;
  font-weight: bold;
}
.place-image {
  float: left;
  width: 21.25em;
  height: 13.75em;
  border-top-left-radius: 0.125em;
  border-bottom-left-radius: 0.125em;
}
.place-price {
  float: right;
  font-size: 1.5625em;
  font-weight: normal;
  padding-top: 0.625em;
  padding-right: 0.9375em;
}
.place-ratings {
  float: left;
  padding-left: 0.3125em;
}
.place-reviews {
  float: left;
  padding-left: 0.625em;
}
.place-details {
  text-align: left;
  padding-left: 0.3125em;
  white-space: pre-line;
}
.place-amenities {
  float: left;
  padding-left: 0.3125em;
}
.place-amenities2 {
  padding-left: 0.3125em;
}
.place-view {
  float: right;
  width: 8.125em;
  height: 3.125em;
}
.place-table-data1 {
    height: 2.5em;
}
.place-table-data2 {
    height: 1.25em;
}
.place-table-data3 {
    height: 1.25em;
}
.place-table-data4 {
    height: 1.25em;
}
.place-table-data5 {
    height: 1.25em;
}
/***********************************************/
@media only screen and (max-width: 98.125em) {
  .filter-sections1 {
    margin-left: 5%;
    width: 90%;
  }
  .filter-sections2 {
    margin-left: 5%;
    width: 90%;
  }
}
@media only screen and (max-width:  76.875em) {
  .filter-sections1 {
    margin-left: 5%;
    width: 90%;
  }
  .filter-sections2 {
    margin-left: 5%;
    width: 90%;
  }
  .search-input {
    width: 50%;
  }
  .duration-options {
    width: 50%;
  }
  .price-range-filter {
    width: 50%;
  }
  .guests-rating-filter {
    width: 50%;
  }
  .number-of-guests-filter {
    width: 50%;
  }
  .amenities-filter {
    width: 50%;
    float: right;
  }
  .accommodation-filter {
    width: 50%;
    float: right;
  }
  .sort-filter {
    width: 50%;
  }

}
@media only screen and (max-width: 62.5em) {
  .filter-sections1 {
    margin-left: 0em;
    width: 100%;
  }
  .filter-sections2 {
    margin-left: 0em;
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
  .duration-options {
    width: 100%;
  }
  .price-range-filter {
    width: 100%;
  }
  .guests-rating-filter {
    width: 100%;
  }
  .number-of-guests-filter {
    width: 100%;
  }
  .amenities-filter {
    width: 100%;
  }
  .accommodation-filter {
    width: 100%;
  }
  .sort-filter {
    width: 100%;
  }
}
/***********************************the main******************/
.main-contents {
  text-align: center;
  font-family: cursive;
  position: relative;
  margin-left: 10%;
  width: 80%;
  height: 100%;
}
.filters {
  background-color: #FFFFFF;
  width: 30%;
  margin-left: 0%;
  float: left;
  display: block;
  position:  relative;
  text-align: center;
}
.hotels-section {
  margin-left: 30%;
  width: 70%;
}

.hotelimage {
  margin-left: 0em;
  width: 100%;
  height: auto;
}
.next-card {
  width: 100%;
  height: 3.125em;
}
.next-table {
  width: 100%;
  height: 2.5em;
}
.prev-block {
  float: right;
  width: 6.25em;
  height: 2.5em;
  padding-top: 0.625em;
}
.next-button {
  width: 6.25em;
  height: 2.5em;
}

.next-block {
  float: left;
  width: 6.25em;
  height: 2.5em;
  padding-top: 0.625em;
}
/***************************place article********************/
@media only screen and (max-width: 98.125em) {
  .hotels-section {
    margin-left: 10%;
    width: 80%;
  }
  .apartments-section {
    margin-left: 10%;
    width: 80%;
  }
}
@media only screen and (max-width: 76.875em) {
  .hotels-section {
    margin-left: 5%;
    width: 90%;
  }
  .apartments-section {
    margin-left: 5%;
    width: 90%;
  }

}
@media only screen and (max-width: 62.5em) {
  .hotels-section {
    margin-left: 0em;
    width: 100%;
  }
  .apartments-section {
    margin-left: 0em;
    width: 100%;
  }
}
