table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0.0625em solid #ddd;
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: #EDF5E1;
}

tr:hover {
    background-color: #8EE4AF;
}

th {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: left;
    background-color: #379683;
    color: white;
}

/*.input-container {*/
/*background-color: #379683;*/
/*align-content: center;*/
/*}*/
