.main-contents .venue-hotel-table .image-section .h1 {
  text-align: center;
  position: inline-block;
  color: red;
}

  /* venue-hotel */
.main-contents .venue-hotel-table .image-section .heading-1 {
    padding-top: 3em;
    text-align: center;
    position: inline-block;
    color: black;
}

.main-contents .venue-hotel-table .image-section .heading-6 {
  text-align: center;
  position: inline-block;
  color: black;
}


.main-contents .venue-hotel-table .image-section .par-1 {
    text-align: center;
    position: inline-block;
    box-sizing: border-box;
}
.main-contents .venue-hotel-table tr td {
  text-align: left;
}
.main-contents .venue-hotel-table tr .venue-hotel-table-details {
  width: 70%;
}
.main-contents .venue-hotel-table tr .venue-hotel-table-side1 {
  display: inline-block;
  width: 21em;
}
.main-contents .venue-hotel-table tr .venue-hotel-table-side2 {
  display: inline-block;
}
.main-contents .venue-hotel-table tr .venue-hotel-table-title {
  text-align: center;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table .image {
  width: 3.125em;
  height:3.125em;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table textarea {
  width: 100%;
}
.main-contents .venue-hotel-table .venue-hotel-table-details hr {
  width: 100%;
  border-color: #888888;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table .thumb-space {
  height: 2.1875em;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table .ratings-thumb {
  position: absolute;
  border-radius: 0.25em;
  font-family: sans-serif;
  text-align: center;
  width: 5.125em;
  height: 2.5em;
  margin-top: -1.5625em;
  padding-top: 0.625em;
  font-size: 0.9em;
  line-height: 0.9375em;
  background-color: #FFBF00;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table {
  display: table;
  width: 100%;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table .map {
  width: 21.0em;
  height: 42.0em;
}
.map {
  width: 21.0em;
  height: 42.0em;
}
.main-contents .venue-hotel-table .venue-hotel-table-details .reviews-section .review-table .map .mapouter {
  text-align:right;
  height:500px;
  width:600px;
}
* {box-sizing:border-box}

/* Slideshow container */
.main-contents .venue-hotel-table .image-section .slideshow-container {
  max-width: 62.5em;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.main-contents .venue-hotel-table .image-section .mySlides {
  display: none;
}

/* Next & previous buttons */
.main-contents .venue-hotel-table .image-section .prev, .main-contents .venue-hotel-table .image-section  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375em;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.125em;
  transition: 0.6s ease;
  border-radius: 0  0.1875em  0.1875em 0;
  user-select: none;
}

/* Position the "next button" to the right */
.main-contents .venue-hotel-table .image-section .next {
  right: 0;
  border-radius: 0.1875em 0 0 0.1875em;
}

/* On hover, add a black background color with a little bit see-through */
.main-contents .venue-hotel-table .image-section .prev:hover, .main-contents .venue-hotel-table .image-section .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.main-contents .venue-hotel-table .image-section .text {
  color: #f2f2f2;
  font-size: 0.9375em;
  padding: 0.5em 0.75em;
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.main-contents .venue-hotel-table .image-section .numbertext {
  color: #f2f2f2;
  font-size: 0.75em;
  padding: 0.5em 0.75em;
  display: inline-block;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.main-contents .venue-hotel-table .image-section .dot {
  cursor: pointer;
  height: 0.9375em;
  width: 0.9375em;
  margin: 0 0.125em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.main-contents .venue-hotel-table .image-section .active, .main-contents .venue-hotel-table .image-section .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.main-contents .venue-hotel-table .image-section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
