html, html:before, html:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.home-link {
    display: none;
    font-size: 1.2em;
}

div.row-nav {
    background-color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #05386B;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    height: 100%;
    display: flex;
    color: white;
    text-align: center;
    padding: 0.875em;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #379683;
}

.logo {
    max-height: 1.125em;
}

/* Mobile Styles */
@media screen and (max-width: 37.5em) {
    .home-link {
        display: inline;
    }

    ul.topnav li.left,
    ul.topnav li {
        float: none;
    }
}


  li a:hover, .dropdown:hover{
    background-color: #111;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background-color: #05386B;
    min-width: 10em;
    box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color:#111}

  .dropdown:hover .dropdown-content {
    display: block;
  }
 /* Dropdown list */
 body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #05386B;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .topnav-menu {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .topnav-menu {
    background-color: #05386B;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #05386B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #05386B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .error-message-js{
    text-align: center
  }