html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../img/Tinder-logo.jpg");
    background-position: center;
    background-size: cover;
    //margin-bottom: 60px;
}
u {
    color: #808080;
}
.row{
    display: inline-block;
    padding: 9px;
}
.card {
    width: 470px;
    background-color: white;
    margin-top: 35px;
}
#social-log {
    width: 400px;
    height: 52px;
    background-color: #3b5998;
    color: white;
    border-radius: 50px;
    font-size: 18px;
}

#number-log {
    background-color: white;
    border-radius: 30px;
    width: 400px;
    height: 52px;
    border: 2px solid #C0C0C0;
    color: #C0C0C0;
}
#store {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
    width: 120px;
    border-radius: 15px;
    height: 52px;
}
.store-one {
    width: 30px;
    height: 30px;
}
.store-two {
    width: 30px;
    height: 30px;
}
